

body {
    background-color: rgb(227, 254, 255);
}

h1 {
    color:white;
    background: rgba(173, 216, 230, 0.498);
    border: 5px dotted rgb(0, 191, 255);
    margin: 20px;
    padding: 20px;
    text-align: center;
}
h2 {
    color: rgb(74, 122, 255);
    background-color:honeydew;
    text-align: left;
    margin: 10px;
    padding: 5px;

}
p {
    color: rgb(0, 17, 87);
    padding: 20px;
    margin: 30px;
    text-align: left;
    background-color: azure;
}

a {
    background-color:rgba(173, 216, 230, 0.498);
    padding: 10px;
    border: 10px dashed rgb(0, 191, 255);
    text-align: center;

.p {
  font-family: "Lucida Console", "Courier New", monospace;
}
    
}