body { /* it adds to the whole background*/
    /* background-color:rgb(160, 255, 255); */

    <style>
#grad1 {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, red, yellow);
}
</style>

    font-size:20px;
}
h1 {color:rgb(255, 0, 0) 

}
p {
    background-color:rgb(253, 230, 230);
    color:rgba(255, 0, 0, 0.71);
/* command and / is shortcut to add comment */
    /*I am writing a comment, I can write a note here, this is not going to affect the final code
    the border shhorthand proverty expects 3 values for the border-width, border-style, and border-color*/
    border:50px dotted;
    padding:50px; /*creates internal space around the elements*/

    margin:50px; /*extrernal space for the elemtns*/

}
h2 {color: rgb(252, 71, 71);

}

h3 {
    background-color:rgb(253, 230, 230);
    color:rgb(160, 230, 230);
    border:20px line;
    padding: 30px;
}

.banner {
    background-color:rgb(255, 232, 59);
    text-align:center;
}